body{
    overflow-x: hidden;
    font-family: HelveticaNeueLTCom-Roman;
}

 @font-face {
    font-family: HelveticaNeueLTCom-Roman;
    src: url(HelveticaNeueLTCom-Roman.ttf);
  }
 .menu{
     background-color: transparent !important;
 }

 .slider {
    height: 640px !important;
 }
 .slides{
     height: 640px !important;
 }
 #service .row{
     margin-bottom: 0 !important;
 }

 .tee{
     background-color: #00a550 !important;
     color: #a0b7af;
 }
 .pad{
     padding: 5em 0 !important;
 }

nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i{
    font-size: 1.8rem !important;
}



 .about{
     background-color: #f4f2f3;
     margin-top: -40px;
 }
 
.cuadro{
    border: 2px solid #00a550;
    background-color: #a0b7af;
    width: 400px;
    height: 400px;
}
.about-img{
    top: -12.5vh;
    position: relative;
}

.title{
    color: #00a550 !important;
    font-weight: bold;
    text-transform: uppercase;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}
.width{
    width: 100%;
    max-width: 100%;
    height: auto;
}

.contact{
    background-color: #00a550;
    color: #ffffff;
    width: 100%;
    height: auto;
}

.care_agileits{
	padding:6em 0;
    background: url("../img/dot.png"),url(../img/1.jpg) no-repeat right center;
	background-size: cover;
}
.care_agileits h3 {
    color: #ffffff;
    font-size: 37px;
    text-transform: capitalize;
    line-height: 1.6em;
}

.care_agileits h4 {
    color: #fff;
    font-size: 23px;
    margin: 22px 0 0px;
}
.care_agileits ul li{
	font-size:16px;
	color:#fff;
	line-height:2.2em;
	display:block;
	margin:35px 0 0;
}
.care_agileits ul li a{
	color:#fff;
	text-decoration:none;
}

.care_agileits{
    padding: 5em;
}
.care-height{
	height: 510px;
}

.text{
    font-size: 1.5rem;
}

.btn{
    background-color: #00a550 !important;
}

.italic{
    font-style: italic;
}
.font{
    font-family: HelveticaNeueLTCom-Roman;
}
.pad-botton{
    padding: 0 0 1.5em 0;
}

.care{
    background-color: #a8c2b9;
}

.pad-title{
    padding: 3em 0 1em 0;
}

.bold{
    font-weight: bold;
}
.yelloww{
    color: #c4df9b !important;
}
.greenn{
    color: #00a550 !important;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact{
    background-color: #00a550;
    border-radius: 12px;

}
.contact-text{
    font-size: 1rem;
}
.divider{
    margin: .5em 0 .5em 0;
}
.pad-contact{
    padding: 1.5em 0 2.5em 0;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea{
    border: 1px solid #a8c2b9 !important;
    border-radius: 9px !important;
}

.uppercase{
    text-transform: uppercase;
}

.page-footer  {
    background-color: #00a550 !important;
}

.teal{
    background-color: #00a550 !important;
}

.map{
    height: 500px;
    width: 100%;
    max-width: 100%;
    background-color: #a0b7af;
}
.t{
    font-size: 4rem;
}

.banner{
    height: 380px;
    width: 100%;
    max-width: 100%
    
}

.icon{
    width: 40px;
}

.other-text{
    font-size: 1rem;
    padding: 0 1em 0 1em;

}



#service p{
    font-size: 1rem;
    padding: 0.5em 0;
    color: #fff;
    line-height: 1.9em;
}
.line{
    height: 4px;
    width: 60px;
    margin-top: .5em;
    margin-left: auto;
    margin-right: auto;
    background-color: #00a550;
}

.centrado{
    padding: 2em;
    background-color: rgba(7, 24, 12, 0.5);
    position: relative;
    left: 45%;

}

.banner{
    background-image: url("../img/1.jpg");
    background-position-y: 70%;
    background-size: cover;
    background-repeat: no-repeat;
}


.custom-counter {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.custom-counter li {
    counter-increment: step-counter;
    margin-bottom: 10px;

}

.custom-counter li::before {
    content: counter(step-counter);
    margin-right: 5px;
    background-color: #00a550;
    color: #00a550;
    border-radius: 25px;
    width: 15px;
    height: 15px;

}

/*texto para lectores de pantalla*/
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.scroll-to-top{
    text-decoration: none;
    position: fixed;
    top: 20px;
    right: 20px;
    display: none;
    font-size: 36px;
    color: #555;
}

.scroll-to-top:hover{
    text-decoration:none;
    color: #000;
}

.logo{
    width: 200px;
    top: -45vh;
    position: relative;
    left: 5%;
}

.rectangulo {
    width: 250px;
    height: 150px;
    background: #00a550;
    position: relative;
    left: 2%;
}
.triangulo-2 {
    width: 0;
    height: 0;
    border-top: 100px solid #00a550;
    border-right: 250px solid transparent;
    border-bottom: 50px solid transparent;
    position: relative;
    left: 2%;
}

#index .logo {
    width: 200px;
    top: -35vh;
    position: relative;
    left: 4%;
}